#root {
  display: block;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

main {
  display: block;
}

body {
  line-height: 1.15;
  font-family: HelveticaNow, Helvetica, sans-serif;
  color: black;
}

input,
textarea,
button,
select {
  appearance: none;
  background: none;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

input[type="text"],
input[type="password"],
textarea {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
}

button {
  cursor: pointer;
}

.app {
  margin: 8px;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header--link {
  text-decoration: underline;
}

.header--link > *:not(:last-child) {
  margin-right: 10px;
}
.categories {
  display: flex;
}

.categories--item {
  background-color: #efeff0;
  cursor: pointer;
  font-weight: 700;
  margin: 2px;
  padding: 12px;
}

.product {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.product--title {
  overflow: hidden;
  padding-top: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.product--image {
  margin-bottom: auto;
  margin-top: auto;
  max-height: 300px;
  object-fit: contain;
  width: 100%;
}
.product--fav {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.products {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-block-end: 0;
  margin-block-start: 0;
  padding-inline-start: 0;
}

.products--item {
  margin: 8px;
  width: 100%;
}

@media (min-width: 600px) {
  .products--item {
    width: calc(50% - 16px);
  }
}

@media (min-width: 1000px) {
  .products--item {
    width: calc(33% - 16px);
  }
}

@media (min-width: 1600px) {
  .products--item {
    width: calc(25% - 16px);
  }
}

.categories--item-selected {
  background-color: #bdbdc1;
  font-weight: bold;
}

.fav-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.product-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.product-details > * {
  flex: 1;
  max-width: 50%;
}

.product-details--img-wrapper {
  position: relative;
}

.product-details--img {
  max-height: 80vh;
  width: auto;
}
